@font-face {
    font-family: 'Staatliches';
    src: url('../fonts/Staatliches-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prociono';
    src: url('../fonts/Prociono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
