@font-face {
    font-family: 'Montserrat';
    src: local('../fonts/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: local('../fonts/Montserrat-VariableFont_wght.ttf');
}
